@font-face {
  font-family: 'Karlsbader Grotesk';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/KarlsbaderGrotesk-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Karlsbader Grotesk';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/KarlsbaderGrotesk-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/Caveat.woff2') format('woff2');
}

@import './variables.module.scss';
@import './animations.scss';
@import './responsive.scss';

/********** General **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karlsbader Grotesk', sans-serif;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body,
html {
  background-color: $white;
  cursor: $cursor;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  border-right: $border;
}

a {
  cursor: $pointer;
  color: $black;
  text-decoration: none;
}

/********** Sections **********/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
  padding-bottom: 50px;
}

/********** Section titles **********/
.wavy {
  font-size: 70px;
  display: flex;
  font-weight: 600;
  color: $black;
  margin: 0 0 80px 0;
  max-width: fit-content;
}

.wavy span {
  position: relative;
  display: inline-block;
}

.wavy:hover span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

/********** Contact **********/
#contact {
  border-bottom: $border;

  #project-request-contact {
    position: static;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: none;
    cursor: inherit;
  }

  #project-request-contact:hover {
    box-shadow: $shadow;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 3em;
    font-weight: 400;
    max-width: 40ch;
    text-align: center;
  }

  a {
    font-size: 2rem;
  }
}

#socials {
  display: flex;
}

.social {
  display: inline-block;
  margin: 2vw;
  font-weight: 600;
  max-width: fit-content;
}

.social:hover {
  animation: $flash;
}

.social-icon-large {
  width: 70px;
}

/********** About **********/
#about {
  @extend #contact;

  .sentence {
    letter-spacing: 0.05em;
  }

  p {
    padding: 3rem;
    margin-bottom: 1em;
    border: $border;
    box-shadow: none;
    max-width: 60ch;
    min-width: 12ch;
    text-justify: inter-cluster;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      background-color 0.25s ease;
  }

  p:hover {
    max-width: 60ch;
    transform: perspective(100px) translateZ(10px) !important;
    box-shadow: $shadow;
    z-index: 99;
  }

  svg {
    animation: swing 0.5s ease-in-out infinite;
  }

  @keyframes swing {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
}





/********** Scrollbar **********/
body::-webkit-scrollbar {
  width: 1em;
  background: $white;
}

body::-webkit-scrollbar-thumb {
  background-color: $black;
  outline: $border;
}
