/* colors */
$white: #fff;
$black: #0a0a0a;
$transparent: rgba(0, 0, 0, 0);

/* stripes */
$stripes: linear-gradient(
  45deg,
  #ff90e8 10%,
  #ffc900 10%,
  #ffc900 20%,
  #ff7051 20%,
  #ff7051 30%,
  #3ecfc1 30%,
  #3ecfc1 40%,
  #90a8ed 40%,
  #90a8ed 50%,
  #ff90e8 50%,
  #ff90e8 60%,
  #ffc900 60%,
  #ffc900 70%,
  #ff7051 70%,
  #ff7051 80%,
  #3ecfc1 80%,
  #3ecfc1 90%,
  #90a8ed 90%,
  #90a8ed 100%
);

/* sizes */
$stripes-size: 141.42px 141.42px;
$title-size: 90px;

/* lines */
$line: 1px;

/* weights */
$thin: 400;
$bold: 500;
$heavy: 600;

/* cursors */
/* cursors */
$cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSI4IiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPg==') 12 12, auto;
$pointer: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cG9seWdvbiBwb2ludHM9IjEyLDIgMjIsMjAgMiwyMCIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4=') 12 2, auto;
$grab: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cmVjdCB4PSI0IiB5PSI0IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiNmZmYiLz4KPC9zdmc+') 12 12, auto;
$pointer: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cG9seWdvbiBwb2ludHM9IjEyLDIgMjIsMjAgMiwyMCIgZmlsbD0iIzBhMGEwYSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz4KICA8cG9seWdvbiBwb2ludHM9IjEyLDggMTgsMTYgNiwxNiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K') 12 2, auto;
$grab: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cmVjdCB4PSI0IiB5PSI0IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiMwYTBhMGEiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+CiAgPHJlY3QgeD0iOCIgeT0iOCIgd2lkdGg9IjgiIGhlaWdodD0iOCIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K') 12 12, auto;

:export {
  cursor: $cursor;
  pointer: $pointer;
  grab: $grab;
}

/* borders */
$border: $line solid $black;

/* animations */
$flash: flash 0.5s infinite;

/* shadows */
$shadow: 6px 6px black;
$stroke-shadow: 1.5px 1.5px 0px $black, -1.5px 1.5px 0px $black,
  1.5px -1.5px 0px $black, -1.5px -1.5px 0px $black, 1.5px 0px 0px $black,
  -1.5px 0px 0px $black, 0px 1.5px 0px $black, 0px -1.5px 0px $black,
  1px 1.5px 0px $black, -1px 1.5px 0px $black, 1px -1.5px 0px $black,
  -1px -1.5px 0px $black, 1.5px 1px 0px $black, -1.5px 1px 0px $black,
  1.5px -1px 0px $black, -1.5px -1px 0px $black, 1px 1px 0px $black,
  -1px 1px 0px $black, 1px -1px 0px $black, -1px -1px 0px $black;
